<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/errors.ejs") %>
    <form method="post" action="/new"> 
    <label for="firstNameInput">first Name</label>
    <input type="text" name="firstNameInput">
    <label for="lastNameInput">last name</label> 
    <input type="text" name="lastNameInput">
    <button type="submit">submit</button>
    </form>
</body>
</html>