<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%users.forEach((user)=>{%>
    <ul>
        <li>First name= user.firstName %></li>
        <li>Second name: <%= user.secondName %></li>
        <li>Date Added: <%= user.added %></li>
        <a href="/<%= user.userId%>">
            <button>open</button>
        </a>
    </ul>
    <%})%>
    <a href="/new">add new user</a>
</body>
</html>