<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%usernames.forEach((user)=>{%>
    <ul>
        <li>Username= <%= user.username %></li>
    </ul>
    <%})%>
    <a href="/new">add new user</a>
</body>
</html>