<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <ul>
        <li>User: <%= user.firstName %></li>
        <li>Text: <%= user.lastName %></li>
        <li>Date Added: <%= user.added %></li>
        </a>
    </ul>
</body>
</html>